body{
    margin: 0;
}
#divBusqueda{
    padding: 20px;
    background-color: #AAA;
}
#divBusqueda input{
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 7px;
}
#divBusqueda button{
    padding: 10px;
    border: 1px solid rgb(71, 17, 219);
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(71, 17, 219);
    color: white;
}
#divBusqueda button:hover{
    background-color: rgba(230, 13, 57, 0.808);
    border: 1px solid rgb(219, 148, 17);

}